<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Topic</key>
	<array>
		<string>Peer Audio</string>
		<string>Profile</string>
		<string>Create a room</string>
		<string>Join a room</string>
		<string>Add a song</string>
		<string>Disconnect</string>
	</array>
	<key>File</key>
	<array>
		<string>Peer Audio allows users connected on local WiFi and Bluetooth networks to create and collaborate on a music playlist. The idea is that many users together in a room can create and listen to a playlist together using all of the music on each user&apos;s device.

Example setup:
----
User A launches the app and selects to create a room. They are set as the Host.

User B launches the app and selects to join a room. They are set as a Guest.

User A selects to browse for others. They find User B and send them an invite

User B gets the invite, accepts, and the two users are then connected in the room.

User A and B can both add songs from their device music library. They can both see the playlist as it is created, and vote to up vote or down vote any songs in the playlist.

The Host (User A) can then play back the music, as they are the only user that has music playback functionality.
----

Peer Audio is created by Ryan Fraser and John Ruller</string>
		<string>Each users has the ability to set a profile. This includes the user&apos;s name, tagline, and profile image. This profile, along with a list of the artists from the users music library will be displayed to all other users when connected to a room.

If a users chooses not to set a profile, a default image will be set, and their device name will be set as their profile name.</string>
		<string>When a user selects to create a room, they are set as the Host. As the host, they have the functionality to playback the music. They can also browse for any Guests and send them invites.</string>
		<string>When a user selects to join a room, they are set as a Guest. Automatically Guest&apos;s are set to advertise their availability. They can then receive an invite from a Host.
</string>
		<string>Songs can be added from a user&apos;s device music library. These are local songs (MP3s, AACs, etc.) that can be added to the playlist. Once a song is selected, it is sent to the Host to be added to the playlist.</string>
		<string>Once you are done in a room, you can select to Disconnect. If a Host disconnects, all Guests will be disconnected from the room.</string>
	</array>
</dict>
</plist>
