<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Topic</key>
	<array>
		<string>PeerAudio</string>
		<string>Profile Data</string>
		<string>Create a room</string>
		<string>Join a room</string>
		<string>Add a song</string>
		<string>Disconnect</string>
		<string>Multipeer Connectivity</string>
	</array>
	<key>File</key>
	<array>
		<string>PeerAudio is an app.</string>
		<string>Profile Data is set when...</string>
		<string>Creating a room consists of...</string>
		<string>Joining a room.</string>
		<string>Adding a song.</string>
		<string>Disconnecting.</string>
		<string>MPC framework is new to iOS7.</string>
	</array>
</dict>
</plist>
